.dockerignore
.env
.env.*
.git
.gitattributes
.gitignore
.idea
.nvmrc
.phpunit.result.cache
auth.json
charts
coverage
coverage.xml
cr.yaml
ct.yaml
data.ms
public/css
public/hot
public/js
public/mix-manifest.json
public/storage
docker
docker-compose.yml
Dockerfile
fixtures
node_modules
README.md
vendor
