.dockerignore
.env
.env.*
.git
.gitattributes
.gitignore
.idea
.nvmrc
.phpunit.result.cache
auth.json
charts
coverage
coverage.xml
cr.yaml
ct.yaml
data.ms
docker
docker-compose.yml
Dockerfile
fixtures
node_modules
README.md
vendor
