**/charts/*.tgz

.env
.env.*
!.env.template
auth.json

.phpunit.result.cache
data.ms
public/css
public/hot
public/js
public/mix-manifest.json
public/storage
storage/*.key
vendor

node_modules
npm-debug.log
yarn-error.log
